<!DOCTYPE html>
<html>
<head>
    <title>Blogging Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>My Blogging Platform</h1>

        <nav>
            <a href="/">Home</a>

            {% if session.get("user_id") %}
                <a href="/dashboard">Dashboard</a>
                <a href="/create-blog">Create Blog</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </nav>
    </header>


    <main>

        <h2>Latest Blogs</h2>

        {% if blogs %}

            {% for blog in blogs %}

                <div class="blog-card">

                    <h3>{{ blog["title"] }}</h3>

                    <p>
                        <strong>Author:</strong>
                        {{ blog["username"] }}
                    </p>

                    <p>
                        {{ blog["content"] }}
                    </p>

                    <small>
                        Published on {{ blog["created_at"] }}
                    </small>
                    <a href="{{ url_for('view_blog', blog_id=blog['id']) }}">
                        Read More →
                    </a>

                </div>

            {% endfor %}

        {% else %}

            <p>No blogs published yet.</p>

        {% endif %}

    </main>

</body>
</html>